<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uit.lap2.ex2_18521507">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex2_18521507">
        <activity android:name=".Activity.MenuActivity" android:exported="false"/>
        <activity android:name=".Activity.ColorActivity" android:exported="false"/>
        <activity android:name=".Activity.CalculatorActivity" android:exported="false"/>
        <activity android:name=".Activity.InformationActivity" android:exported="false"/>
        <activity android:name=".Activity.ViewContactInfoActivity" android:exported="false"/>
        <activity android:name=".Activity.IntentActivity" android:exported="true"/>
        <activity
            android:name="uit.lap2.ex2_18521507.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>